:root {
    --rightSideHeight: calc(100vh / 3);
    --rightSideBackgroundColor: rgba(229, 226, 226, 0.616);
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

* {
    font-family: 'Poppins', sans-serif;
}

.content {
    display: flex;
    width: 100vw;
    height: 100vh;
}

/* Left side */
.left {
    height: 100vh;
    width: 35vw;
    background-image: url(./images/photo-1585202900225-6d3ac20a6962.jpeg);
    background-position: center;
    background-size: 100%;
}

.left .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.45);
    position: relative;
    top: 20vh;
    gap: 16px;
    padding: 15px 0;
}

.left .logo .logo-img {
    height: 100%;
    width: auto;
}

.left .logo h1{
    color: white;
    font-size: 85px;
}

/* Right side */

.right {
    display: flex;
    flex-direction: column;
    width: 65vw;
    gap: 8px;
}

.right .container, .right .footer {
    background-color: var(--rightSideBackgroundColor);
    height: var(--rightSideHeight);
}

.right .header, .right .footer, .right form, .right .title{
    padding-left: 30px;
}

.right .container{
    display: flex;
    align-items: flex-end;
}

.right .header {
    width: 85%;
    font-weight: 500;
    font-size: 20px;

}

.right .header .bottom-text {
    margin: 20px 0;
}

.right .secondContainer{
    box-shadow: 10px 5px 5px black;
    font-size: medium;

}

.right .secondContainer .title {
    font-weight: bold;
    font-size: larger;
}

.right form {
    height: var(--rightSideHeight);
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 30px;
    padding-bottom: 40px;
    
}

.right form .input-box {
    width: calc(100% / 2 - 80px);
}

.right form .input-box input{
    height: 30px;
    width: 100%;
    margin-top: 4px;
}

.right form .input-box input:focus {
    border: 3px solid blue;
}

.right .footer {
    padding-top: 30px;
}

.right .footer button {
    color: white;
    background-color:  #596D48;
    padding: 10px 36px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    margin-bottom: 30px;
}